<a href="https://colab.research.google.com/github/RupeshSharma14/Airbnb-Bookings-Analysis/blob/main/Airbnb_Bookings_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : </b>
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it?

In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
# Mounting the goole drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Loading the dataset

airbnb_df = pd.read_csv("/content/drive/MyDrive/Airbnb Bookings Analysis/Airbnb NYC 2019.csv")

In [4]:
# Displaying first five rows of the dataset

airbnb_df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [5]:
# Displaying last five rows of the dataset

airbnb_df.tail()

             id  ... availability_365
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[5 rows x 16 columns]

In [6]:
# Checking the size of the dataset

airbnb_df.shape

(48895, 16)

In [7]:
# Checking for number of duplicate rows in the dataset

airbnb_df.duplicated().sum()

0

In [8]:
#  Displaying more information about the airbnb dataframe --> Column name, Null values and Dtypes

airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [9]:
# Counting the number of null values in "name", "host_name", "number_of_reviews" and "last_review" columns

nan_values_cols = ["name", "host_name", "reviews_per_month", "last_review"]
airbnb_df[nan_values_cols].isna().sum()

name                    16
host_name               21
reviews_per_month    10052
last_review          10052
dtype: int64

In [10]:
# Dropping the rows having Nan values in "name" and "host_name" column

airbnb_df.dropna(subset = ["name", "host_name"], inplace = True)

In [11]:
# Filling Nan values in "reviews_per_month" with 0.0

airbnb_df["reviews_per_month"].fillna(0.0, inplace = True)

In [12]:
# Converting the data type of "last_review" column to datetime object

airbnb_df["last_review"] = airbnb_df["last_review"].astype("datetime64")

In [13]:
# Extract year and month from the "last_review" column

airbnb_df["last_review_month"] = airbnb_df["last_review"].apply(lambda row: row.month)
airbnb_df["last_review_year"] = airbnb_df["last_review"].apply(lambda row: row.year)

In [14]:
# Checking the dtypes of "last_review_month" and "last_review_year" columns

month_year_cols = ["last_review_month", "last_review_year"]
airbnb_df[month_year_cols].dtypes

last_review_month    float64
last_review_year     float64
dtype: object

In [15]:
# Converting the dtypes of "last_review_month" and "last_review_year" into integer

airbnb_df[month_year_cols] = airbnb_df[month_year_cols].astype("Int64")                       # Int64 represents nullable int

In [16]:
# Dropping "last_review" column

airbnb_df.drop(labels = "last_review", axis = 1, inplace = True)

In [17]:
# Renaming the column "neighbourhood_groups" and "id" as "boroughs" and "listings_id" respectively

airbnb_df.rename(columns = {"id": "listings_id", "neighbourhood_group": "boroughs"}, inplace = True)

In [18]:
airbnb_df.head()

   listings_id  ... last_review_year
0         2539  ...             2018
1         2595  ...             2019
2         3647  ...             <NA>
3         3831  ...             2019
4         5022  ...             2018

[5 rows x 17 columns]